force-app/main/default/flows/JBSystemFlow_Related_Source_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj162c9491626f7e2e4148ffe8085b8b26_FireJBTrigger</name>
        <label>SalesforceObj162c9491626f7e2e4148ffe8085b8b26_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;SLead__c&quot;,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Related_Source__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj162c9491626f7e2e4148ffe8085b8b26</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Phone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Email__c&quot;,&quot;Locale__c&quot;,&quot;Enquiry_Category__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:SLead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_FireJBTrigger</name>
        <label>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;SLead__c&quot;,
  &quot;relationshipName&quot;: &quot;SLead__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Related_Source__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Phone&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Email__c&quot;,&quot;Locale__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:SLead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_FireJBTrigger</name>
        <label>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;SLead__c&quot;,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Related_Source__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Email__c&quot;,&quot;Locale__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:SLead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Related_Source__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Phone&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</name>
        <label>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
            </connector>
            <label>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</name>
        <label>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</name>
        <label>JB_Decision_Null_Check_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
            </connector>
            <label>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Decision</name>
        <label>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj162c9491626f7e2e4148ffe8085b8b26</name>
            <conditionLogic>(1 AND  ( ( (2 OR 3)  OR 4)  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enquiry_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enquiry_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Enquiry_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Allocated_Project_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zuari Gangothri Tribhuja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj162c9491626f7e2e4148ffe8085b8b26_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj162c9491626f7e2e4148ffe8085b8b26</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_State_change_Decision</name>
        <label>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>old_object.SLead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.SLead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Enquiry_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.Enquiry_Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Allocated_Project_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.Allocated_Project_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj162c9491626f7e2e4148ffe8085b8b26_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Decision</name>
        <label>JB_SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Allocated_Project_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zuari Gangothri Tribhuja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1f0b2d99c645907105fcaa90a8fa3820</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Decision</name>
        <label>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</name>
            <conditionLogic>(1 AND  ( (2 OR 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales RNR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Allocated_Project_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zuari Gangothri Tribhuja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_State_change_Decision</name>
        <label>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj162c9491626f7e2e4148ffe8085b8b26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>old_object.SLead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.SLead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Lead_status1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.Lead_status1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Allocated_Project_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>new_object.Allocated_Project_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Related_Source_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb7d8018cba3fdb2502780d34be0f3c3d</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_Source__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Related_Source__c</objectType>
    </variables>
</Flow>
