force-app/main/default/flows/JBSystemFlow_Site_Visit_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjeaea323137c6b472aab313ccd00acfc9_FireJBTrigger</name>
        <label>SalesforceObjeaea323137c6b472aab313ccd00acfc9_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;SLead__c&quot;,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Site_Visit__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjeaea323137c6b472aab313ccd00acfc9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Site_Visit__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Date__c&quot;,&quot;SV_Date__c&quot;,&quot;SV_Time__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;SLead__r&quot;,&quot;dePrefix&quot;:&quot;Site_Visit__c:SLead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Related_Source__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Source__r&quot;,&quot;dePrefix&quot;:&quot;Site_Visit__c:Related_Source__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Email__c&quot;,&quot;Locale__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Site_Visit__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Phone&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjeaea323137c6b472aab313ccd00acfc9</name>
        <label>JB_Decision_Null_Check_SalesforceObjeaea323137c6b472aab313ccd00acfc9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Decision</name>
        <label>JB_SalesforceObjeaea323137c6b472aab313ccd00acfc9_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjeaea323137c6b472aab313ccd00acfc9</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjeaea323137c6b472aab313ccd00acfc9_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjeaea323137c6b472aab313ccd00acfc9</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Site_Visit_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjeaea323137c6b472aab313ccd00acfc9</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_Visit__c</objectType>
    </variables>
</Flow>
