force-app/main/default/flows/JBSystemFlow_Call_Detail_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1be103c79278b0f3c786654efa1f212c_FireJBTrigger</name>
        <label>SalesforceObj1be103c79278b0f3c786654efa1f212c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Lead__c&quot;,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Call_Detail__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1be103c79278b0f3c786654efa1f212c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:Lead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Related_Source__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Source__r&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:Related_Source__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Locale__c&quot;,&quot;Allocated_Project_Text__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_FireJBTrigger</name>
        <label>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Lead__c&quot;,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Call_Detail__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>534019041</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Lead__r&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:Lead__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:Owner:User:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Related_Source__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Related_Source__r&quot;,&quot;dePrefix&quot;:&quot;Call_Detail__c:Related_Source__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name__c&quot;,&quot;Locale__c&quot;,&quot;Lead_status1__c&quot;,&quot;Allocated_Project_Text__c&quot;,&quot;Mobile_With_Country_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</name>
        <label>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</name>
        <label>JB_Decision_Null_Check_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</targetReference>
            </connector>
            <label>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Decision</name>
        <label>JB_SalesforceObj1be103c79278b0f3c786654efa1f212c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1be103c79278b0f3c786654efa1f212c</name>
            <conditionLogic>( (1 OR 2)  OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANSWER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1be103c79278b0f3c786654efa1f212c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1be103c79278b0f3c786654efa1f212c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Decision</name>
        <label>JB_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1be103c79278b0f3c786654efa1f212c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</name>
            <conditionLogic>(1 And  ( ( (2 AND 3)  AND  (4 AND 5) )  AND  (6 AND 7) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__r.Lead_status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__r.Lead_status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales RNR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Related_Source__r.Lead_status1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre Sales Follow Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Call_Detail_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj4d98f5a9cd0161c16f5822e60a2e7905</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Call_Detail__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Call_Detail__c</objectType>
    </variables>
</Flow>
