force-app/main/default/flows/Send_out_of_office_hours_template_when_incoming_came.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>check_incoming_timing_workday</name>
        <label>check incoming timing/workday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_7_pm_Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fcreatedtime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f7pm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fcreatedtime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f10am</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_out_of_office_template</targetReference>
            </connector>
            <label>After 7 pm/Weekend</label>
        </rules>
    </decisions>
    <description>360 Automation by SK</description>
    <environments>Default</environments>
    <formulas>
        <name>f10am</name>
        <dataType>DateTime</dataType>
        <expression>( DATETIMEVALUE( TEXT(DATEVALUE({!$Record.CreatedDate})) + &apos; &apos; + &apos;04:30:00&apos;))</expression>
    </formulas>
    <formulas>
        <name>f7pm</name>
        <dataType>DateTime</dataType>
        <expression>( DATETIMEVALUE( TEXT(DATEVALUE({!$Record.CreatedDate})) + &apos; &apos; + &apos;13:30:00&apos;))</expression>
    </formulas>
    <formulas>
        <name>Fcreatedtime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>Fweekend</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(DATEVALUE({!$Record.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Send out of office hours template when incoming came {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send out of office hours template when incoming came</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>send_out_of_office_template</name>
        <label>send out of office template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.tdc_tsw__Related_Object_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__Sender_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__Related_Object_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000VvoCjYAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>919054990549</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_incoming_timing_workday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__ToNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>9054990549</stringValue>
            </value>
        </filters>
        <object>tdc_tsw__Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
