force-app/main/default/flows/Site_Visit_OTP_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_send_email</name>
        <label>Copy 1 of send email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Site_Visit__c.Site_Visit_OTP_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Site_Visit__c.Site_Visit_OTP_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_send_email</name>
        <label>Copy 2 of send email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Site_Visit__c.Site_Visit_OTP_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Site_Visit__c.Site_Visit_OTP_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Check_is_it_CP_Site_Visit</name>
        <label>Check is it CP Site Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Email2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Source__r.Channel_Partner1__r.Mobile_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_For_CP</targetReference>
            </connector>
            <label>For CP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Email</name>
        <label>Copy 1 of Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_send_email</targetReference>
            </connector>
            <label>Copy 1 of Found Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email2</name>
        <label>Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_send_email</targetReference>
            </connector>
            <label>Found Email</label>
        </rules>
    </decisions>
    <description>Added SMS Create Record for SMS and Whatsapp, Send Whatsapp to RM, Send SMS To CP</description>
    <environments>Default</environments>
    <interviewLabel>Site Visit OTP Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit OTP Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>It will create SMS record for Sending SMS/Whatsapp</description>
        <name>Create_SMS_Record</name>
        <label>Create SMS Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Related_Source__r.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Primary_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000VnubtYAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>919054990549</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This record will send SMS to Customer Number</description>
        <name>For_SMS</name>
        <label>For SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Whatsapp_For_RM</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Related_Source__r.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Primary_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000VoseTYAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>ZUARIN</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS_For_CP</name>
        <label>SMS For CP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Related_Source__r.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Related_Source__r.Channel_Partner1__r.Mobile_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000VoseTYAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>ZUARIN</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Whatsapp_For_RM</name>
        <label>Whatsapp For RM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_is_it_CP_Site_Visit</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.Owner:User.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a0bOS00000VnubtYAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>919054990549</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>sv_email_sent_date</name>
        <label>sv email sent date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_SMS_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_sent_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sv_email_sent_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
