force-app/main/default/flows/Unknown_incoming_Lead_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>found</name>
        <label>found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Keywords_Hi_Hello_Hey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Source_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Lead_source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Tertiary_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CW WhatsApp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WhatsApp Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Company</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Zuari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Allocated_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Zuari Garden City</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Related_Object_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Keywords_Hi_Hello_Hey</name>
        <label>Keywords - Hi/Hello/Hey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Known_Lead_itext</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hello</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Itext_known</targetReference>
            </connector>
            <label>Known Lead itext</label>
        </rules>
        <rules>
            <name>Unknown_Lead</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hello</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tdc_tsw__Short_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Itext</targetReference>
            </connector>
            <label>Unknown Lead Itext</label>
        </rules>
    </decisions>
    <description>360 Automation team created by MS</description>
    <environments>Default</environments>
    <formulas>
        <name>fMob</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.tdc_tsw__Sender_Number__c}, 10)</expression>
    </formulas>
    <formulas>
        <name>unknown</name>
        <dataType>String</dataType>
        <expression>&apos;Unknown&apos;&amp;RIGHT({!$Record.tdc_tsw__Sender_Number__c}, 10)</expression>
    </formulas>
    <interviewLabel>Unknown incoming Lead creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unknown incoming Lead creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_SMS_History_Unknown</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocated_Project__c</field>
            <value>
                <stringValue>Zuari Garden City</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Zuari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>unknown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>WhatsApp Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_source__c</field>
            <value>
                <stringValue>Corporate Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.tdc_tsw__Sender_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__Sender_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Digital Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tertiary_Source__c</field>
            <value>
                <stringValue>CW WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Send_Itext</name>
        <label>Send Itext</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Object_Name__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__Sender_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Question__c</field>
            <value>
                <stringValue>a0gOS000004nb5lYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__ToNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Itext_known</name>
        <label>Send Itext (known)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Channel__c</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Object_Name__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__Sender_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Question__c</field>
            <value>
                <stringValue>a0gOS000004nb5lYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <elementReference>$Record.tdc_tsw__ToNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>fMob</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>fMob</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>fMob</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_SMS_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Zuari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_source__c</field>
            <value>
                <stringValue>Corporate Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <stringValue>Digital Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tertiary_Source__c</field>
            <value>
                <stringValue>CW WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_History</name>
        <label>Update SMS History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Keywords_Hi_Hello_Hey</targetReference>
        </connector>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_History_Unknown</name>
        <label>Update SMS History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Keywords_Hi_Hello_Hey</targetReference>
        </connector>
        <inputAssignments>
            <field>tdc_tsw__Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <object>tdc_tsw__Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
