force-app/main/default/flows/Updarte_Rengage_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Reengagte_Date</name>
        <label>Assign Reengagte Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.Direct_Re_Engage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Reengagte_Date</name>
        <label>Copy 1 of Assign Reengagte Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.CP_Re_Engage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Reengagte_Date</name>
        <label>Copy 2 of Assign Reengagte Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.Corporate_Re_Engage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Reengagte_Date</name>
        <label>Copy 3 of Assign Reengagte Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.Referral_Re_Engage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Type</name>
        <label>Decision Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Channel partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Activity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reengagte_Date</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
        <rules>
            <name>CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Reengagte_Date</targetReference>
            </connector>
            <label>CP</label>
        </rules>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Reengagte_Date</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
        <rules>
            <name>Refrral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Reengagte_Date</targetReference>
            </connector>
            <label>Refrral</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Updarte Rengage Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updarte Rengage Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SLead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Direct_Re_Engage_Date__c</queriedFields>
        <queriedFields>CP_Re_Engage_Date__c</queriedFields>
        <queriedFields>Corporate_Re_Engage_Date__c</queriedFields>
        <queriedFields>Referral_Re_Engage_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Lead_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Source_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SLead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Engaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Opened</stringValue>
            </value>
        </filters>
        <object>Related_Source__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
